<?xml version="1.0"?>
<!-- /etc/di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Review\Controller\Product\Post">
        <plugin
                name="johanjohan_helloWorld_review_plugin"
                type="\johanjohan\HelloWorld\Model\ReviewPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>
</config>